/* ----- HEADER ----- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #ffffff;
    display: grid;
    grid-template-columns: 150px auto 150px; /* фиксированные боковые зоны */
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.07);
    z-index: 1000;
}

/* ----- LOGO ----- */
.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img {
    height: 50px;
    width: auto;
}

/* ----- NAVIGATION ----- */
.nav-links {
    display: flex;
    justify-content: center;  
    gap: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 500;
}

/* ----- RIGHT ICONS ----- */
.header-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* ----- AVATAR ----- */
.avatar {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: cover;
}
/* REQUEST BOX */
.request-box {
    margin-top: 30px;
    padding: 25px;
    border: 2px solid #1e90ff;
    border-radius: 8px;
    background: white;
    width: 70%;
}

.request-box p {
    margin: 6px 0;
}

.input-link {
    width: 200px;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 5px;
}

/* BUTTONS */
.actions {
    display: flex;
    gap: 20px;
}

.reject {
    background: #ff4b4b;
    border: none;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
}

.remake {
    background: #bfbfbf;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

.accept {
    background: #3ebf4c;
    border: none;
    padding: 10px 25px;
    color: white;
    cursor: pointer;
}

/* BUTTON HOVER */
.reject:hover {
    background: #e63e3e;
}
